<div class="menu">
  <div class="arrow" [routerLink]="'/'">
    <span><mat-icon>arrow_back</mat-icon>Back</span>
  </div>
</div>
<div *ngIf="country" class="country-info">
  <div class="country-layout">
    <img [src]="country.flag" />

    <div class="country-detail">
      <h1>{{ country.name }}</h1>
      <div class="info">
        <div>
          <p>Native Name: <span>{{ country.nativeName }}</span></p>
          <p>
            Population: <span>{{ country.population | number: "1.0" }}</span>
          </p>
          <p>Region: <span>{{ country.region }}</span></p>
          <p>Sub Region: <span>{{ country.subregion }}</span></p>
          <p>Capital: <span>{{ country.capital }}</span></p>
        </div>

        <div>
          <p>Top Level Domain: <span>{{ country.topLevelDomain }}</span></p>
          <p>
            Currencies: <span> {{country.currencies | mapCountryData}}</span>
          </p>
          <p>
            Languages: <span>{{ country.languages | mapCountryData }}</span>
          </p>
        </div>
      </div>
      <div class="border-countries">
        <h2>Border Countries:</h2>
        <button
          data-testid="button-borders"
          *ngFor="let border of country.borders"
          [routerLink]="'/detail/' + displayBorder(border)"
        >
          {{displayBorder(border)}}
        </button>
      </div>
    </div>
  </div>
</div>

<p class="not-found" *ngIf="!country">Country not found</p>
