<div class="menu">
  <div class="arrow" [routerLink]="'/'">
    <span><mat-icon>arrow_back</mat-icon>Back</span>
  </div>
</div>
<div *ngIf="country">
  <div class="country-layout">
    <img [src]="country.flag" />

    <div class="country-detail">
      <h1>{{ country.name }}</h1>
      <div class="info">
        <div class="a">
          <p>Native Name: <span>{{ country.nativeName }}</span></p>
          <p>Population: <span>{{ country.population }}</span></p>
          <p>Region: <span>{{ country.region }}</span></p>
          <p>Sub Region: <span>{{ country.subregion }}</span></p>
          <p>Capital: <span>{{ country.capital }}</span></p>
        </div>

        <div class="b">
          <p>Top Level Domain: <span>{{ country.topLevelDomain }}</span></p>
          <p>
            Currencies: <span> {{displayCurrencies(country.currencies)}}</span>
          </p>
          <p>
            Languages: <span>{{ displayLanguages(country.languages)}}</span>
          </p>
        </div>
      </div>
      <div class="border-countries">
        <h2>
          Border Countries:
          <button
            *ngFor="let border of country.borders"
            [routerLink]="'/' + displayBorder(border)"
          >
            {{displayBorder(border)}}
          </button>
        </h2>
      </div>
    </div>
  </div>
</div>

<p class="not-found" *ngIf="!country">Country not found</p>
