<form class="filters" [formGroup]="filtersGroup">
  <mat-form-field appearance="outline" class="search">
    <mat-label><mat-icon>search</mat-icon>Search for a country...</mat-label>
    <input matInput type="text" formControlName="search" autocomplete="off" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="region-filter">
    <mat-label>Filter by region</mat-label>
    <mat-select formControlName="region">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let region of regions" value="{{region}}"
        >{{region}}</mat-option
      >
    </mat-select>
  </mat-form-field>
</form>

<div class="cards-display" [class.filter]="countries$$.value.length <= 4">
  <app-country-card
    *ngFor="let country of countries$$ | async"
    [country]="country"
  ></app-country-card>
  <p *ngIf="countries$$.value.length === 0">This search returned no results.</p>
</div>
